{% extends "base.html" %}

{% block title %}
Add Customer
{% endblock %}

{% block content %}

<div class="columns is-centered">

    <div class="column is-half">

        <div class="box">

        <h1 class="title">

            {% if customer %}

                Edit Customer

            {% else %}

                Add Customer

            {% endif %}

        </h1>

            <form method="POST">

                <div class="field">

                    <label class="label">
                        First Name
                        <span class="has-text-danger">*</span>
                    </label>

                    <div class="control">

                        <input
                            class="input"
                            type="text"
                            name="first_name"
                            value="{{ customer.first_name if customer else '' }}"
                            required>

                    </div>

                </div>

                <div class="field">

                    <label class="label">
                        Last Name
                        <span class="has-text-danger">*</span>
                    </label>

                    <div class="control">

                        <input
                            class="input"
                            type="text"
                            name="last_name"
                            value="{{ customer.last_name if customer else '' }}"
                            required>
                    </div>

                </div>

                <div class="field">

                    <label class="label">
                        Phone Number
                        <span class="has-text-danger">*</span>
                    </label>

                    <div class="control">

                        <input
                            class="input"
                            type="tel"
                            name="phone"
                            value="{{ customer.phone if customer else '' }}"
                            pattern="[0-9]{10}"
                            maxlength="10"
                            oninput="this.value=this.value.replace(/[^0-9]/g,'')"
                            required
                        >

                    </div>

                </div>

                <div class="field is-grouped">

                    <div class="control">

                        <button
                            type="submit"
                            class="button is-primary">

                            <span class="icon">
                                <i class="fas fa-save"></i>
                            </span>

                            <span>

                                {% if customer %}

                                    Update Customer

                                {% else %}

                                    Save Customer

                                {% endif %}

                            </span>

                        </button>

                    </div>

                    <div class="control">

                        <a
                            href="/customers"
                            class="button is-light">

                            Cancel

                        </a>

                    </div>

                </div>

            </form>

        </div>

    </div>

</div>

{% endblock %}