{% extends "base.html" %}

{% block content %}

<h1 class="title">
    Dashboard
</h1>

<div class="columns">

    <div class="column">

        <div class="box">

            <h2 class="title is-4">
                Customers
            </h2>

            <a
            class="button is-primary"
            href="/customers">

                Manage

            </a>

        </div>

    </div>

    <div class="column">

        <div class="box">

            <h2 class="title is-4">
                Items
            </h2>

            <a
            class="button is-info"
            href="/items">

                Manage

            </a>

        </div>

    </div>

    <div class="column">

        <div class="box">

            <h2 class="title is-4">
                Invoices
            </h2>

            <a
            class="button is-success"
            href="/invoices">

                Manage

            </a>

        </div>

    </div>

</div>

{% endblock %}